@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'roboto';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: .5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background-color: black;
  margin-top: 4rem;
  padding: 2rem;
  border-radius: .25rem;
}

.TodoForm {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.TodoInput {
  background: none;
  color: white;
  border: 1px solid gray;
  padding: .5re 1rem;
  width: 75%;
}

.TodoBtn {
  width: 25%;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

.Todo {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: tomato;
  color: white;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

/* Tamamlanan Görevler için */
.Completed {
  color: midnightblue;
  text-decoration: line-through;

}

.TodoTask {
  width: 80%;
  text-align: start;
}

.TodoButtons {
  width: 20%;
}

.TodoContainer {
  margin-top: 1rem;
}